Q1. How can we store a s1ngle quote (') as a str1ng 1n a var1able?
Ans:- We can put a backslash character followed by a quote ( \" or \' ). This is called an escape sequence and Python will remove the backslash, and put just the quote in the string.

Q2.Refer the below var1able:
x = 'a'
Here, is x a character type or str1ng type var1able? Support your answer w1th an explanat1on.
Ans:- Here x is a string type because the single quote is given there and we known that we write strings in the single or double quote.

Q3.Apply the following functions on th1s var1able: ‘Welcome to Python foundation course'
1.find()
2.count()
3.len()
4.Concatenation

In [1]:
s = "Welcome to python foundation course"

In [2]:
s.find('W')

0

In [3]:
s.find('e')

1

In [4]:
s.count('l')

1

In [5]:
len(s)

35

In [6]:
s1 = 'Hello aditya'

In [7]:
s + s1
#this is concatenation

'Welcome to python foundation courseHello aditya'

Q4.For the variable: word = 'PanaJi@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

In [8]:
word = 'PanaJi@12256'
count = 0
for i in word:
    if(i.islower()):
        count = count + 1

In [9]:
count

4

In [12]:
word = 'PanaJi@12256'
count = 0
for i in word:
    if(i.isupper()):
        count = count + 1

In [13]:
count

2

In [14]:
word = 'PanaJi@12256'
count = 0
for i in word:
    if(i.isnumeric()):
        count = count + 1

In [15]:
count

5

Q5.Write a code to store a numerical value inside a variable then convert it into string?

In [16]:
num = 45

In [17]:
string_num = str(num)